<div ui-view></div>
<footer class="footer-bar">
	<ul changeclass=''>
		<li class="icon-4 active" >
			<a href="#/index/home">首页</a>
		</li>
		<li class="icon-3">
			<a href="#/index/vip">会员杂锦</a>
		</li>
		<li class="icon-2">
			<a href="#/index/classification">分类</a>
		</li>
		<li class="icon-5">
			<a href="#/index/car">购物车</a>
		</li>
		<li class="icon-1">
			<a ng-click="mine()">我的</a>
		</li>
	</ul>
</footer>
<div style="width:10%;position: fixed;right: 15px;bottom:70px;" ng-click="toTop()" id="toTop">
	<img src="./image/toTop.png" alt="">
</div>